article
  h4.small-dark-title A la une

  .lead Suterwa 
    span.text-muted | pelnsf le 11/14/2014
  h2 Lorem Ipsum Dolor
  p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, aliquam harum repellendus corporis necessitatibus debitis, nulla et, laborum perferendis dolorum sapiente, quia voluptates unde in pariatur tempore. Nobis vitae voluptatibus atque maxime excepturi quaerat dolorum quidem minima error odit, eveniet ratione voluptatum odio quis. Velit rerum, sapiente veniam temporibus incidunt nobis dolorem quisquam mollitia voluptas! Totam sint nam eveniet facere, inventore cupiditate suscipit, odio fugiat earum temporibus alias. Dolore, fuga repellendus consequatur dolor ipsa porro quae perferendis a aliquam ullam repellat facere consequuntur modi cupiditate, illum, voluptatibus ducimus maxime neque corporis, numquam delectus. Porro voluptas, alias quidem nobis et quisquam.

  +tagblock()

hr

article
  .row
    .col-sm-6
      .small-dark-title A la une
    .col-sm-6
      a(href="") Questo de mous
      span.text-muted  | peiel 10/11/14

  h2 Sunt in culpa qui officia deserunt mollitia animi id est laborum
  p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, aliquam harum repellendus corporis necessitatibus debitis, nulla et, laborum perferendis dolorum sapiente, quia voluptates unde in pariatur tempore. Nobis vitae voluptatibus atque maxime excepturi quaerat dolorum quidem minima error odit, eveniet ratione voluptatum odio quis. Velit rerum, sapiente veniam temporibus incidunt nobis dolorem quisquam mollitia voluptas! Totam sint nam eveniet facere, inventore cupiditate suscipit, odio fugiat earum temporibus alias. Dolore, fuga repellendus consequatur dolor ipsa porro quae perferendis a aliquam ullam repellat facere consequuntur modi cupiditate, illum, voluptatibus ducimus maxime neque corporis, numquam delectus. Porro voluptas, alias quidem nobis et quisquam.

  +tagblock()

hr

article
  strong Suteres 
  span.text-muted  | publes 12/24/13

  h2 Molliit animi illum est laborum
  
  p: img(src="http://placehold.it/560x250", alt="")
  p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sed soluta ipsa impedit quas modi pariatur quisquam, facere, doloremque et sequi totam obcaecati recusandae beatae earum vel perferendis. Hic, nisi.
  
  +tagblock()

hr

article
  strong Suteres 
  span.text-muted  | publes 12/24/14

  h2 Jenny's got a gun  
  p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sed soluta ipsa impedit quas modi pariatur quisquam, facere, doloremque et sequi totam obcaecati recusandae beatae earum vel perferendis. Hic, nisi.
  
  +tagblock()