mixin tagblock()
  .row.text-muted
    .col-sm-4
      .glyphicon.glyphicon-time
      |  3 days ago
    .col-sm-8
      .glyphicon.glyphicon-tags
      strong  Tags:
        a(href="")  Lorem
        | , 
        a(href="")  Lorem
        | , 
        a(href="")  Lorem

mixin mediaobject(title)
  .media
    a.media-left(href="")
      img.img-circle(src="http://placehold.it/500x500" alt="...")
    
    .media-body
      h4.media-heading #{title}
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam possimus quisquam quia nobis, porro assumenda itaque officiis, molestias suscipit debitis quod amet voluptatem? Doloribus voluptas esse, aspernatur deserunt omnis laudantium.